@font-face {
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.woff2");
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff");
  src: url("../fonts/OpenSans-Bold.woff2");
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
}

body,
p,
h1 {
  margin: 0px;
}

body {
  font-family: "Open Sans Regular", sans-serif;
}

ul,
ol,
li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  max-width: 100%;
  background-image: url("https://github.com/netology-code/html-2-diploma/blob/master/sources/images/banner-bg.jpg?raw=true");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666666;
  position: relative;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 140px;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

.wrp {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 180px;
  max-width: 100%;
}

.nav-items {
  display: flex;
}

.nav-item {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-item > a:hover {
  text-decoration: underline;
}

.nav-item:nth-child(n + 2) {
  margin-left: 35px;
}

.burger-menu {
  visibility: hidden; 
  position: relative;
  top: 30px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  z-index: 1;
}

.burger-button {
  visibility: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.title {
  width: 690px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 95px;
  font-size: 45px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.trends {
  margin-top: 60px; 
  max-width: 100%;  
}

.trend-title {
  font-size: 20px!important;
  margin-bottom: 30px;
}

.trend-items {
  display: flex; 
}

.trend-item {   
  width: 25%;
  min-height: 320px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px; 
  position: relative;
  background-color: #eff6f1; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
  z-index: -1; 
}

.trend-item:nth-child(n + 2) {
  margin-left: 5px;
}

.trend-img1 {
  background-image: url("../images/trend1.jpg"); 
}

.trend-img2 {
  background-image: url("../images/trend2.jpg"); 
}

.trend-img3 {
  background-image: url("../images/trend3.jpg");  
}

.trend-img4 {
  background-image: url("../images/trend4.jpg"); 
}

.trend-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.trend-list-title {
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;  
  margin: 0px;
}

.trend-list-title:hover {
  color: #b59f5b;
}

.trend-item-content {
  padding-top: 35px;
  padding-left: 35px;
  padding-bottom: 35px;
  border: 3px solid #b59f5b;
  z-index: 2;
}

.post-content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 780px;
}

.post-list {
  display: flex;
  justify-content: space-between;
}

.post-list:nth-child(n + 2) {
  margin-top: 60px;
}

.post-list-img {
  display: flex;
  align-items: center;
  width: 380px;
  background-color: #eff6f1;
  object-fit: cover;
}

.post-list-content {
  margin-left: 30px;
}

.post-list-links {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 5px;
}

.post-list-link:nth-child(n + 2) {
  margin-left: 20px;
}

.list-link {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans Bold", sans-serif;
  color: #b59f5b;
}

.list-link:hover {
  text-decoration: underline;
}

.post-list-title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "Open Sans Bold", sans-serif;
  margin-bottom: 18px;
}

.post-list-title > a:hover {
  color: #b59f5b;
}

.post-date-autor {
  margin-bottom: 32px;
}

.date {
  font-size: 12px;
  color: #888888;
}

.autor-name {
  font-size: 12px;
  color: #000000;
  font-family: "Open Sans Bold", sans-serif;
  margin-left: 15px;
}

.post-text > p {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

.post-text > p:not(:first-child) {
  margin-top: 16px;
}

.aside-content {
  width: 270px;
}

.h2-title {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "Open Sans Bold", sans-serif;
  text-align: center;
  margin-top: 0px;
}

.h2-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin: 0 auto;
}

.last-posts {
  margin-bottom: 60px;
}

.last-post-list {
  display: flex;
  margin-top: 25px;
}

.last-post-img {
  width: 70px;
  background-color: #f4f7f6;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.last-post-list-content {
  margin-left: 20px;
}

.last-post-list-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Open Sans Bold", sans-serif;
  margin: 0px;
}

.last-post-list-title > a:hover {
  color: #b59f5b;
}

.search-block {
  display: flex;
  position: relative;
  margin-bottom: 60px;
  margin-top: 60px;
}

.leb {
  width: 100%;
}

.search-block input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
  opacity: 0.541;
  font-size: 13px;
  color: black;
  padding-left: 15px;
  padding-right: 55px;
  position: absolute;
}

.input:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.search-button {
  position: absolute;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  right: 0px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  padding: 0px;
}

.search-button:hover {
  background-color: #323232;
}

.mailings {
  margin-bottom: 60px;
}

.mailing-block input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 25px;
}

.mailing-button {
  width: 100%;
  height: 48px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans Bold", sans-serif;
  background-color: #b59f5b;
  border: none;
  outline: none;
  margin-top: 15px;
}

.mailing-button:hover {
  background-color: #323232;
}

.tags {
  margin-bottom: 60px;
}

.tag-items {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  padding: 0px 10px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: "Open Sans Bold", sans-serif;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.categori-items {
  font-size: 14px;
  color: #000000;
  font-family: "Open Sans Bold", sans-serif;
}

.categori-item {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.categori-item > a:hover {
  color: #b59f5b;
}

.sup {
  font-size: 12px;
  color: #b59f5b;
  font-family: "Open Sans Bold", sans-serif;
  vertical-align: super;
}

.shop {
  margin-top: 65px;
}

.shop-items {
  display: flex;  
  justify-content: space-between;
}

.shop-img {
  max-width: 300px;
  background-color: #eff6f1;
}

.shop-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.shop-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.shop-item {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;    
}

.shop-item-content {
  box-sizing: border-box;
  background-color: rgba(0,0,0,0);
  border: 3px solid #b59f5b;
  padding: 55px 25px 25px;
  margin-top: -30px;
  flex-grow: 1;
}

.shop-item-title {
  font-size: 20px;   
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "Open Sans Bold", sans-serif;
  margin: 0px;
}

.shop-item-description {
  font-size: 15px;
  padding-bottom: 25px;
  color: #0f0d0e;
}

.shop-link {
  display: flex;
  justify-content: space-between;
}

.shop-item-link{
  color: #b59f5b;
}

.shop-item-link:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.price {
  display: flex;
  flex-direction: column;
}

.price-old {
  opacity: 0.980;
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "Open Sans Bold", sans-serif;
}

.price-new {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "Open Sans Bold", sans-serif;
}

.shop-item-button {
  display: flex;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans Bold", sans-serif;
}

.shop-item-button:hover {
  background-color: #323232;
}

.pop-up {    
  position: fixed; 
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0; 
  padding: 16px; 
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 100; 
  overflow: auto; 
}

.pop-up-win {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 16px;
  max-width: 390px;
  margin-top: 35px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
}
 
.pop-up-btn { 
	position: absolute;
	width: 20px;
  height: 20px;
	top: -25px;
  right: 0px; 
  cursor: pointer;
  background-image: url("../svg/form-x.svg");	
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  border: none;
}

.pop-up-close {
  width: 100%;
}

.form-block {
  margin-top: 20px;
  margin-bottom: 30px;
}

.legend {
  display: inline-block;
  padding-bottom: 10px;
}

.select{
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 50px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
  opacity: 0.8;
  font-size: 13px; 
  color: #000000;
  padding-left: 15px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 10px center;
}


[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

input[type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5em;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  vertical-align: middle;
}

input[type="radio"]:checked + span::before {
  background-image: url("../svg/form-circle.svg");
}

.text-field__input {
  box-sizing: border-box;
  width: 100%;
  height: 125px;
  border: none;
  background-color: #f4f7f6;
  outline: none;
  opacity: 0.8;
  font-size: 13px; 
  color: #000000;
  padding: 15px;
}

.fieldset {
  border: none;
  padding: 0;
  accent-color: #b59f5b;
}

.radio-btn {
  display: inline-block;
  margin-bottom: 10px;
}

.pop-up-button {
  width: 100%;
  height: 48px;
  font-size: 14px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans Bold", sans-serif;
  background-color: #b59f5b;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  margin-top: 65px;
}

.footer-address {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icon {
  position: relative;
}

.social-icon-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.social-icon-link:hover {
  background-size: 24px;
}

.social-icon-dribbble {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.social-icon-pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.social-icon-tumblr {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright {
  font-size: 12px;
  color: #999999;
  font-family: "Open Sans Bold", sans-serif;
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
}

@media(min-width: 767px) and (max-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg"); 
  }

  .burger-menu {
    display: block;
    visibility: visible;
    position: absolute; 
  }

  .nav-items {
    display: none;
  }

  .title {
    font-size: 40px;
  }

  .trend-title {
    margin-bottom: 15px;
  }

  .trend-items {
    display: flex; 
    flex-wrap: wrap;
    gap: 5px;
  }

  .trend-item:nth-child(n + 2) {
    margin-left: 0;
  }
  
  .trend-item {
    box-sizing: border-box;
    width: 49.5%;
  }

  .trend-item-content {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .h2-title {
    font-size: 18px;
  }

  .post-content {
    width: 100%;
  }

  .main {
    width: 60%;
  } 
  
  .post-list {
    display: flex;
    flex-direction: column;
  }

  .post-list:nth-child(n + 2) {
    margin-top: 40px;
  }

  .post-list-img {
    width: 100%;   
  }
   
  .post-list-title {
    font-size: 17px;
  }

  .post-list-content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 0;
    padding-bottom: 20px;
    padding-right: 10px;
    border-bottom: 3px solid #eeeeee;
  }

  .aside-content {
    width: 35%;
  }
  
  .last-posts {
    margin-bottom: 0;
  }
  
  .last-post-list {
    display: flex;
    
  }

  .last-post-list:nth-child(n + 2) {
    margin-top: 20px;
  }
  
  .last-post-img {
    width: 25%;
  }

  .mailings {
    padding-top: 60px;
  }

  .shop { 
    margin-top: 50px;
  }

  .shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .shop-img {
    width: 100%;
  }
  .shop-item {
    width: 48%;
    margin-top: 25px;
  }

  .shop-title {
    margin: 0;
  }

  .shop-item-title {
    font-size: 17px;
  }
}

@media(min-width: 767px) and (max-width: 1200px) and (orientation: landscape) {
  .trend-item {
    box-sizing: border-box;
    width: 24.5%;
    gap: 0px;
  }
  
}

@media(max-width: 767px) {
  .header {
    background-image: url("../images/banner-mobile.jpg"); 
  }

  .header-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-logo {
    width: 270px;
    max-width: 100%;
    order: 2;
    padding-top: 180px;
  }
  
  .burger-menu {
    display: block;
    visibility: visible;
    position: absolute; 
  }

  .nav-items {
    display: none;
  }

  .title {
    font-size: 26px;
  }
    
  .trend-items {
    display: flex; 
    flex-wrap: wrap;
  }
  
  .trend-item {   
    width: 100%;
    margin-bottom: 10px;
  }

  .trend-item:nth-child(n + 2) {
    margin-left: 0;
  }
 
  .trend-item-content {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .h2-title {
    font-size: 16px;
  }

  .post-content {   
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  .main {
    width: 100%;
  } 
  
  .post-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .post-list:nth-child(n + 2) {
    margin-top: 30px;
  }
   
  .post-list-img {
    width: 100%;   
  }
   
  .post-list-title {
    font-size: 16px;
  }

  .post-list-content {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    margin-left: 0;
    padding-bottom: 25px;
    padding-right: 10px;
    border-bottom: 3px solid #eeeeee;
  }
  
  .post-text > p {
    font-size: 14px;
  }

  .aside-content {
    width: 100%;
  }
  
  .last-posts {
    margin-top: 45px;
  }
  
  .last-post-list {
    display: flex;
    margin-top: 20px;
  }
  
  .last-post-img {
    width: 25%;
  }
  
  .mailings {
    margin-bottom: 45px;
  }
  
  .tags {
    margin-bottom: 45px;
  }

  .shop { 
    margin-top: 45px;
  }

  .shop-items {
    display: flex;
    flex-direction: column;
  }

  .shop-img {
    width: 100%;
  }

  .shop-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer {
    margin-top: 45px;
  }

  .copyright {
    margin-top: 50px;
  }

  .pop-up-win {
    padding: 20px;
    margin-top: 25px;
    width: 100%;
    margin: 0 auto;
  }

  .form-block {
    margin-bottom: 25px;
  }

  .legend {
    font-size: 14px;
  }

  .radio-btn {
    margin: 0;
  }
}

@media(max-width: 767px) and (orientation: landscape) {
  .trend-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .trend-item { 
    margin: 0;
    box-sizing: border-box;
    width: 49.5%;   
  } 
}
  